In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import mysql.connector
from datetime import datetime, timedelta

In [2]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'abcd1234',
    'database': 'iitr',
}
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()
query = "SELECT * FROM stockdata" #query for extracting 2023 data

# Execute the query and load data into a pandas DataFrame
data = pd.read_sql(query, connection)

query2 = "SELECT * FROM stockdata2024" #query for extracting 2024 data
data2=pd.read_sql(query2,connection)
# Close the database connection
connection.close()

import numpy as np
data = data.replace('-', np.nan)
data2=data2.replace('-',np.nan)

/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/3121234229.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/3121234229.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql(query2,connection)

In [3]:
data['DATE1'] = pd.to_datetime(data['DATE1'])

# Extract distinct dates from the 'date' column
distinct_dates = data['DATE1'].drop_duplicates()

# Format the dates as "DDMMYYYY"
dates2 = distinct_dates.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates2)
print(len(dates2))

['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-31', '2023-04-03', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27', '2023-08-25', '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31', '2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13', '2023-10-16', '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20', '2023-10-23', '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10', '2023-11-13', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-07-28', '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-14', '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24']
245

In [4]:
data2['DATE1'] = pd.to_datetime(data2['DATE1'])

# Extract distinct dates from the 'date' column
distinct_dates2 = data2['DATE1'].drop_duplicates()

# Format the dates as "DDMMYYYY"
dates3 = distinct_dates2.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates3)
print(len(dates3))

['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-28', '2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30', '2024-05-02', '2024-05-03', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-16', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-26', '2024-08-27']
162

In [5]:
lst=dates2+dates3
dates2=lst
print(len(dates2))
print(dates2)

407
['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-31', '2023-04-03', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27', '2023-08-25', '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31', '2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13', '2023-10-16', '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20', '2023-10-23', '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10', '2023-11-13', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-07-28', '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-14', '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24', '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-28', '2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30', '2024-05-02', '2024-05-03', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-16', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-26', '2024-08-27']

In [9]:
df=pd.read_csv('check_filtered_stocks_6cond2023.csv') #signals for 2023
df2=pd.read_csv('buy_6cond2024.csv') #signals for 2024

In [10]:
df['DATE1'] = pd.to_datetime(df['DATE1'])

# Extract distinct dates from the 'date' column
dist = df['DATE1']

# Format the dates as "DDMMYYYY"
dates = dist.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates)
print(len(dates))

['2023-01-20', '2023-02-07', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-17', '2023-02-21', '2023-03-03', '2023-03-08', '2023-03-08', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-15', '2023-03-16', '2023-04-03', '2023-04-05', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-12', '2023-04-17', '2023-04-19', '2023-04-26', '2023-05-02', '2023-05-16', '2023-05-17', '2023-05-24', '2023-06-02', '2023-06-02', '2023-06-02', '2023-06-13', '2023-06-14', '2023-06-14', '2023-06-16', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-06', '2023-07-13', '2023-07-20', '2023-07-21', '2023-07-27', '2023-08-25', '2023-08-29', '2023-09-05', '2023-09-05', '2023-09-05', '2023-09-11', '2023-09-11', '2023-09-11', '2023-09-18', '2023-09-18', '2023-09-28', '2023-10-09', '2023-10-12', '2023-10-13', '2023-10-17', '2023-11-03', '2023-11-07', '2023-11-08', '2023-11-16', '2023-11-21', '2023-11-22', '2023-11-28', '2023-11-30', '2023-12-05', '2023-12-06', '2023-12-26', '2023-12-27', '2023-12-27', '2023-08-01', '2023-12-29', '2023-08-09', '2023-08-17', '2023-08-17']
77

In [11]:
df2['DATE1'] = pd.to_datetime(df2['DATE1'])

# Extract distinct dates from the 'date' column
dist2 = df2['DATE1']

# Format the dates as "DDMMYYYY"
dates1 = dist2.dt.strftime('%Y-%m-%d').tolist()
print(dates1)
print(len(dates1))

['2024-01-03', '2024-01-03', '2024-01-05', '2024-01-08', '2024-01-15', '2024-01-20', '2024-01-29', '2024-01-29', '2024-01-29', '2024-02-02', '2024-02-08', '2024-02-23', '2024-02-28', '2024-03-26', '2024-04-02', '2024-04-02', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-04', '2024-04-04', '2024-04-19', '2024-04-22', '2024-05-02', '2024-05-06', '2024-05-16', '2024-05-16', '2024-05-16', '2024-05-17', '2024-05-21', '2024-06-07', '2024-06-07', '2024-06-10', '2024-06-10', '2024-06-10', '2024-06-12', '2024-06-19', '2024-07-03', '2024-07-05', '2024-07-05', '2024-07-16', '2024-07-26', '2024-07-26', '2024-07-30', '2024-07-31', '2024-08-19', '2024-08-20', '2024-08-21']
58

In [12]:
lst=dates+dates1
dates=lst
print(len(dates))
print(dates)

135
['2023-01-20', '2023-02-07', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-17', '2023-02-21', '2023-03-03', '2023-03-08', '2023-03-08', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-15', '2023-03-16', '2023-04-03', '2023-04-05', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-12', '2023-04-17', '2023-04-19', '2023-04-26', '2023-05-02', '2023-05-16', '2023-05-17', '2023-05-24', '2023-06-02', '2023-06-02', '2023-06-02', '2023-06-13', '2023-06-14', '2023-06-14', '2023-06-16', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-06', '2023-07-13', '2023-07-20', '2023-07-21', '2023-07-27', '2023-08-25', '2023-08-29', '2023-09-05', '2023-09-05', '2023-09-05', '2023-09-11', '2023-09-11', '2023-09-11', '2023-09-18', '2023-09-18', '2023-09-28', '2023-10-09', '2023-10-12', '2023-10-13', '2023-10-17', '2023-11-03', '2023-11-07', '2023-11-08', '2023-11-16', '2023-11-21', '2023-11-22', '2023-11-28', '2023-11-30', '2023-12-05', '2023-12-06', '2023-12-26', '2023-12-27', '2023-12-27', '2023-08-01', '2023-12-29', '2023-08-09', '2023-08-17', '2023-08-17', '2024-01-03', '2024-01-03', '2024-01-05', '2024-01-08', '2024-01-15', '2024-01-20', '2024-01-29', '2024-01-29', '2024-01-29', '2024-02-02', '2024-02-08', '2024-02-23', '2024-02-28', '2024-03-26', '2024-04-02', '2024-04-02', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-03', '2024-04-04', '2024-04-04', '2024-04-19', '2024-04-22', '2024-05-02', '2024-05-06', '2024-05-16', '2024-05-16', '2024-05-16', '2024-05-17', '2024-05-21', '2024-06-07', '2024-06-07', '2024-06-10', '2024-06-10', '2024-06-10', '2024-06-12', '2024-06-19', '2024-07-03', '2024-07-05', '2024-07-05', '2024-07-16', '2024-07-26', '2024-07-26', '2024-07-30', '2024-07-31', '2024-08-19', '2024-08-20', '2024-08-21']

In [13]:
concat_df = pd.concat([df, df2], axis=0)
df=concat_df #combining signals from 2023 and 2024 into a single dataframe
df.reset_index(drop=True, inplace=True)

In [14]:
concat_df = pd.concat([data, data2], axis=0)
data=concat_df  #combining entire data of 2023 and 2024 into a single dataframe
data.reset_index(drop=True, inplace=True)

In [15]:
df['entry_date']='0000-00-00'
df['entry_price']=0
df['stoploss']=0
df['target']=0
df['exit_date']=" "
df['exit_price']=0
df['status']=" "
df['Profit/Loss']=0
for i in range(0,len(dates)):
    df.at[i,'stoploss']=df["LOW_PRICE"][i]
    j=dates2.index(dates[i])   
    dat=pd.to_datetime(dates2[j+1], format='%Y-%m-%d')
    sym=df["SYMBOL"][i]
    filtered_df=data[(data['SYMBOL'] == sym) & (data["DATE1"]==dat)]
    if not filtered_df.empty:
        open_price = filtered_df["OPEN_PRICE"].values[0]
    if(df['stoploss'][i]>open_price):
        continue
    df.at[i,'entry_price']=open_price
    df.at[i,'entry_date']=dates2[j+1]
    #df.at[i,'stoploss']=df["LOW_PRICE"][i]
    df.at[i,'target']=df["entry_price"][i]+((df["entry_price"][i])*0.1)

    k=j+1
    new_df=data[(data['SYMBOL'] == sym)]
    while(k<len(dates2)):
        date=pd.to_datetime(dates2[k], format='%Y-%m-%d')
        filtered_df=new_df[new_df["DATE1"]==date]
        if not filtered_df.empty:
            if  ( filtered_df["HIGH_PRICE"].max()>=df['target'][i]):
                df.at[i,'exit_date']=dates2[k]
                df.at[i,'exit_price']=df['target'][i]
                df.at[i,'status']='target'
                df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]
                break
            if filtered_df["CLOSE_PRICE"].max()<=df['stoploss'][i]:
                df.at[i,'exit_date']=dates2[k]
                df.at[i,'exit_price']=filtered_df["CLOSE_PRICE"].max()
                df.at[i,'status']='stoploss'
                df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]
                break
        k=k+1

/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/1549453920.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '35.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'stoploss']=df["LOW_PRICE"][i]
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/1549453920.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '37.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'entry_price']=open_price
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/1549453920.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '40.92' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'target']=df["entry_price"][i]+((df["entry_price"][i])*0.1)
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/1549453920.py:38: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '35.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'exit_price']=filtered_df["CLOSE_PRICE"].max()
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_96119/1549453920.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.8000000000000043' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]

In [17]:
df.tail()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,...,sum,sum_without_del,entry_date,entry_price,stoploss,target,exit_date,exit_price,status,Profit/Loss
130,HFCL,EQ,2024-07-30,129.82,128.25,135.70,128.16,134.49,134.81,132.98,...,6,6,2024-07-31,136.3,128.16,149.93,2024-08-05,124.46,stoploss,11.84
131,GLOBAL,BE,2024-07-31,185.51,192.00,194.78,191.99,194.78,194.78,194.46,...,6,6,2024-08-01,194.4,191.99,213.84,2024-08-01,185.67,stoploss,8.73
132,UFLEX,EQ,2024-08-19,676.70,685.00,776.80,665.00,758.00,765.50,743.70,...,6,6,2024-08-20,760.0,665.00,836.00,2024-08-23,836.00,target,-76.00
133,TASTYBITE,EQ,2024-08-20,11510.10,11460.00,12968.70,11415.60,12695.00,12650.50,12410.90,...,6,6,2024-08-21,13149.0,11415.60,14463.90,2024-08-21,14463.90,target,-1314.90
134,SHRIRAMPPS,EQ,2024-08-21,108.62,109.45,128.40,108.65,124.10,124.37,120.15,...,6,6,2024-08-22,124.7,108.65,137.17,2024-08-26,137.17,target,-12.47

In [18]:
df.to_csv('backtesting_buy.csv', index=False)